@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background: #373e43;
    color: #94b0c0;
}

.wrapper{
    width: 600px;
    margin: 50px auto;
}

p{
    line-height: 1.6;
    margin: 0 0 20px 0;
}

.circle{
    display: block;
    width: 200px;
    float:left;
    height:200px;
    border-radius: 50%;
    background: url('./img/raton_gaming_logitech_g102_prodigy_usb_negro_01_l.jpg') center center #fff;
    background-size: cover;
    margin: 0px 50px 20px 0px;
    shape-outside: circle(50%) margin-box;
}

.steels{
    float: left;
    width: 200px;
    height:200px;
    border-radius: 50%;
    margin: 40px 40px 20px 0px;
    shape-outside: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}